html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://raw.githubusercontent.com/rapheeck/cantorFunctions/main/images/calc.jpg");
    background-size: cover;
    background-position: center;
}
